---
import clsx from "clsx";
import keyDates from "./keyDates";
import img1 from "@images/photos/call-for-abstracts-min.jpg";
import Box from "@components/Box";

function getTitle(item) {
  if (!item.endDay) return item.date;
  return `${item.date} - ${item.endDay}`;
}

function isPast(item) {
  if (item.title == "Hackathon & Training") return false;
  if (item.title == "Nextflow Summit") return false;
  const today = new Date().getTime();
  const eventDate = Date.parse(
    item.rawEndDate ? item.rawEndDate : item.rawDate,
  );
  return today > eventDate;
}

interface Props {
  showTitle?: boolean;
  hidePastDates?: boolean;
  location?: "boston" | "barcelona";
}

const { showTitle, hidePastDates = false, location = "boston" } = Astro.props;
---

<section class="">
  {
    showTitle && (
      <div class="mb-10">
        <h5 class="h2 mb-2">
          Key dates{" "}
          {/* {hidePastDates && (
          <button
            id="togglePastDates"
            class="text-base font-normal opacity-50 ml-4"
          >
            [ show past dates ]
          </button>
        )} */}
        </h5>
        <p class="monospace">At a glance</p>
      </div>
    )
  }

  <div class={clsx("flex flex-row")}>
    <div class="w-full border-t">
      {
        keyDates?.map((item, i) => (
          <div
            class={`flex flex-wrap border-b ${hidePastDates && isPast(item) ? "keyDatePast opacity-60 hidden" : ""}`}
          >
            <div class="w-full flex flex-row w-full">
              <h3 class="h3 whitespace-nowrap pt-4 w-full max-w-[90px] md:max-w-[150px]">{item.date}</h3>

              <div class="pl-10 flex flex-col w-full monospace">
              {item?.content?.map((item, i) => (
                <div key={i} className={` border-b last:border-b-0 py-4`}>
                  {item.info}
                </div>
              ))}
              </div>
            </div>
          </div>
        ))
      }
    </div>
    <div
      class="pl-10 relative w-full hidden md:block absolute top-0 right-0 bottom-0 rounded-lg overflow-hidden"
    >
      <img
        src={img1.src}
        class="h-full w-full object-cover"
        alt="Key dates image"
      />
    </div>
  </div>
</section>

<script>
  const toggleButton = document.getElementById("togglePastDates");
  const pastDates = document.querySelectorAll(".keyDatePast");

  if (toggleButton) {
    toggleButton.addEventListener("click", () => {
      pastDates.forEach((el) => el.classList.toggle("hidden"));
      toggleButton.textContent = toggleButton.textContent.includes("show")
        ? "[ hide past dates ]"
        : "[ show past dates ]";
    });
  }
</script>
