---
import clsx from "clsx";
import keyDates from "./keyDates";
import img1 from "@images/photos/call-for-abstracts-min.jpg";
import Box from "@components/Box";

function getTitle(item) {
  if (!item.endDay) return item.date;
  return `${item.date} - ${item.endDay}`;
}

function isPast(item) {
  if (item.title == "Hackathon & Training") return false;
  if (item.title == "Nextflow Summit") return false;
  const today = new Date().getTime();
  const eventDate = Date.parse(
    item.rawEndDate ? item.rawEndDate : item.rawDate,
  );
  return today > eventDate;
}

interface Props {
  showTitle?: boolean;
  hidePastDates?: boolean;
  location?: "boston" | "barcelona";
}

const { showTitle, hidePastDates = false, location = "boston" } = Astro.props;
---

<section class="">
  {
    showTitle && (
      <h5 class="h3 mb-6">
        Key dates{" "}
        {hidePastDates && (
          <button
            id="togglePastDates"
            class="text-base font-normal opacity-50 ml-4"
          >
            [ show past dates ]
          </button>
        )}
      </h5>
    )
  }

  <div class={clsx("flex flex-row")}>
    <div class="w-full">
      {
        keyDates?.map((item, i) => (
          <div
            class={`flex flex-wrap border-b border-brand-800 py-2 mb-4 ${hidePastDates && isPast(item) ? "keyDatePast opacity-60 hidden" : ""}`}
          >
            <div class="w-full md:text-lg md:leading-6 py-2 md:py-0 text-brand-300">
              {item.date}

              {item?.content?.map((item, i) => (
                <div key={i} className={`border-b first:border-t py-10`}>
                  {item.info}
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>
    <div
      class="pl-10 relative w-full hidden md:block absolute top-0 right-0 bottom-0 rounded-lg overflow-hidden"
    >
      <img
        src={img1.src}
        class="h-full w-full object-cover"
        alt="Key dates image"
      />
    </div>
  </div>
</section>

<script>
  const toggleButton = document.getElementById("togglePastDates");
  const pastDates = document.querySelectorAll(".keyDatePast");

  if (toggleButton) {
    toggleButton.addEventListener("click", () => {
      pastDates.forEach((el) => el.classList.toggle("hidden"));
      toggleButton.textContent = toggleButton.textContent.includes("show")
        ? "[ hide past dates ]"
        : "[ show past dates ]";
    });
  }
</script>
