---
import clsx from "clsx";
import datesBoston from "./datesBoston";
import datesBarcelona from "./datesBarcelona";
import datesVirtual from "./datesVirtual";
import img1 from "@images/photos/2025/boston/training-computer.jpg";
import Slideshow from "./Slideshow";

interface Props {
  showTitle?: boolean;
  hidePastDates?: boolean;
  location?: string;
}

const { showTitle, hidePastDates = false, location = "boston" } = Astro.props;
---

<section class="bg-brand">
  <div class="mb-10">
    <h5 class="h1 mb-2">
      Key dates{" "}
    </h5>
    <p class="monospace">At a glance</p>
  </div>

  <div class={"w-full relative flex flex-col sm:flex-row h-full"}>
    <div class="relative w-full border-t">
      {
        location == "boston" &&
          datesBoston?.map((item, i) => (
            <div class={`flex flex-wrap border-b`}>
              <div class="w-full flex flex-row items-center">
                <h4 class="h4 pt-6 pb-6  w-full max-w-[130px]">{item.date}</h4>

                <div class="pl-4 sm:pl-10 flex flex-col w-full monospace">
                  {item?.content?.map((item, i) => (
                    <div
                      key={i}
                      className={` border-b last:border-b-0 py-6 bodycopy`}
                    >
                      {item.info}
                    </div>
                  ))}
                </div>
              </div>
            </div>
          ))
      }

      {
        location == "barcelona" &&
          datesBarcelona?.map((item, i) => (
            <div class={`flex flex-wrap border-b`}>
              <div class="w-full flex flex-row items-center">
                <h4 class="h4 pt-6 pb-6  w-full max-w-[175px]">{item.date}</h4>

                <div class="pl-4 sm:pl-10 flex flex-col w-full monospace">
                  {item?.content?.map((item, i) => (
                    <div
                      key={i}
                      className={` border-b last:border-b-0 py-6 bodycopy`}
                    >
                      {item.info}
                    </div>
                  ))}
                </div>
              </div>
            </div>
          ))
      }
      {
        location == "virtual" &&
          datesVirtual?.map((item, i) => (
            <div class={`flex flex-wrap border-b`}>
              <div class="w-full flex flex-row items-center">
                <h4 class="h4 pt-6 pb-6  w-full max-w-[175px]">{item.date}</h4>

                <div class="pl-4 sm:pl-10 flex flex-col w-full monospace">
                  {item?.content?.map((item, i) => (
                    <div
                      key={i}
                      className={` border-b last:border-b-0 py-6 bodycopy`}
                    >
                      {item.info}
                    </div>
                  ))}
                </div>
              </div>
            </div>
          ))
      }
    </div>
    <div
      class="w-full relative mt-8 sm:mt-0 sm:ml-20 sm:sticky sm:top-30 self-start sm:max-w-[50%]"
    >
      {
        location == "virtual" && (
          <div class="w-full relative">
            <Slideshow client:load location="virtual" />
          </div>
        )
      }
      {
        location == "barcelona" && (
          <div class="w-full relative">
            <Slideshow client:load location="barcelona" />
          </div>
        )
      }
      {
        location == "boston" && (
          <div class="w-full relative">
            <Slideshow client:load location="boston" />
          </div>
        )
      }
    </div>
  </div>
</section>
