---
import Layout from "@layouts/Base.astro";
import SessionCard from "@components/SessionCard";
import SocialIcon from "@components/SocialIcon";
import ContentBox from "@components/ContentBox/index.astro";
import SEO from "@components/SEO";
import speakers from "@data/speakers";
import ProfilePic from "@components/ProfilePic";

export function getStaticPaths() {
  return speakers.boston?.map((speaker) => ({
    params: { slug: speaker.slug },
  }));
}

const speaker = speakers.boston?.find(
  (speaker) => speaker.slug === Astro.params.slug,
);
---

<Layout namespace="2025/boston" altBG>
  <SEO
    slot="head"
    title={speaker.fullName}
    description={`${speaker.firstName}, ${speaker.tagLine}, will be presenting at Nextflow Boston 2025.`}
    dynamicImage={{
      speaker: speaker.slug,
      location: "boston",
    }}
  />
  <section class="pb-10 pt-16 md:py-20">
    <div class="container smallest text-center">
      <ContentBox
        backLink={{ label: "Back to speakers", href: "/2025/boston/speakers" }}
      >
        <div class="flex flex-col sm:flex-row items-center mb-8">
          <div class="w-full sm:w-40 md:w-45 flex-none">
            <ProfilePic
              src={speaker.profilePicture}
              alt={speaker.fullName}
              className="max-w-[200px] mx-auto"
            />
          </div>
          <div class="flex-auto text-center sm:text-left pt-6 sm:pt-0 sm:pl-6">
            <h1 class="text-4xl md:text-5xl font-bold mb-3 font-display">
              {speaker.fullName}
            </h1>
            <div class="font-medium md:text-lg text-nextflow-400">
              {speaker.tagLine}
            </div>
            {
              !!speaker.links.length && (
                <div class="flex justify-center sm:justify-start -m-2 mt-3">
                  {speaker.links.map((link) => (
                    <SocialIcon
                      href={link.url}
                      type={link.linkType}
                      className="p-2 text-product-400"
                    />
                  ))}
                </div>
              )
            }
          </div>
        </div>
        <div class="text-left text-brand-300 font-light text-sm sm:text-base">
          {speaker.bio}
        </div>
        <h2 class="h2 mt-16 text-left mb-6">Sessions</h2>
        <div class="flex flex-wrap -m-1 text-left">
          {
            speaker.sessions.map((session) => (
              <SessionCard
                className="p-1"
                session={session}
                hideSpeakers={true}
              />
            ))
          }
        </div>
      </ContentBox>
    </div>
  </section>
</Layout>
