---
import Layout from "@layouts/Base.astro";
import SEO from "@components/SEO";
import SpeakerCard from "@components/SpeakerCard";
import Button from "@components/Button";
import speakers from "./speakers";
import Hero from "@components/Hero";
---

<Layout namespace="2025/boston">
  <SEO slot="head" title="Speakers" img={1} />


  <section class="py-8">
    <Hero
    title="Speakers"
    content=" Meet the experts, partners, and community team members who are speaking at this year's event."
    ctaText1="Register for Boston"
    ctaLink1="https://seqera.swoogo.com/nextflow-summit-boston-2025"
    ctaExternal1
    client:load
  />
 </section>


    <div class="container mt-14">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
      {speakers.main.map(({ name, jobTitle, track, date, time, submissionTitle, bio, github, twitter, linkedin, image, keynote }) => {
        return (
        <SpeakerCard
        name={name}
        jobTitle={jobTitle}
        track={track}
        date={date}
        time={time}
        submissionTitle={submissionTitle}
        bio={bio}
        github={github}
        twitter={twitter}
        linkedin={linkedin}
        image={image}
        keynote={keynote}
        />
        );
      })}
      </div>
    </div>
    </div>
  </section>

</Layout>
