---
import Layout from "@layouts/Base.astro";
import PersonCard from "@components/PersonCard";
import ContentBox from "@components/ContentBox/index.astro";
import Button from "@components/Button";
import SEO from "@components/SEO";
import { sessionPagesBoston as sessionPages } from "@data/sessions";
import speakers from "@data/speakers";
import { prettyDate, prettyTime } from "@utils/prettyDate";
import YouTubeVideo from "@components/YouTubeVideo";

export function getStaticPaths() {
  return sessionPages.map((session) => ({
    params: { slug: session.slug },
  }));
}

const session = sessionPages.find(
  (session) => session.slug === Astro.params.slug,
);
const speakerCount = session.speakers.length;
const isSingularSpeaker = speakerCount === 1;
const speaker = speakers.boston?.find(
  (speaker) => speaker.fullName === session.speakers[0]?.fullName,
);
---

<Layout namespace="2025/boston" altBG>
  <SEO
    slot="head"
    title={session.title}
    dynamicImage={{
      title: session.title,
      subtitle: `${prettyDate(session.startsAt, false)} @ ${prettyTime(session.startsAt)} - ${prettyTime(session.endsAt)}`,
      speaker: speaker?.slug,
      location: "boston",
    }}
  />
  <section class="pb-10 pt-16 md:py-20">
    <div class="container smallest">
      <ContentBox
        backLink={{
          label: "Back to sessions",
          href: "/2025/boston/agenda#05-21",
        }}
      >
        <div class="flex items-center mb-4">
          {
            !!session.isKeynote && (
              <div class="bg-nextflow rounded-sm p-2 leading-none text-sm mr-4 text-brand">
                Keynote
              </div>
            )
          }
          <div class="text-nextflow">
            {prettyDate(session.startsAt, false)}
            {
              !!session.endsAt && (
                <>
                  <span class="opacity-50 -ml-1">, </span>
                  {`${prettyTime(session.startsAt)} - ${prettyTime(session.endsAt)}`}
                </>
              )
            }
          </div>
        </div>
        <h1 class="text-3xl md:text-4xl font-bold mb-8 font-display">
          {session.title}
        </h1>
        {
          !!session.description && (
            <div class="text-left text-brand-300 font-light text-sm sm:text-base whitespace-pre-line">
              {session.description}
            </div>
          )
        }
        {
          !!session.recordingUrl && (
            <div class="mt-8 border rounded-2xl border-[rgb(13,192,157)]/40">
              <YouTubeVideo url={session.recordingUrl} />
            </div>
          )
        }
        {
          !!session.projectURL && (
            <Button cta href={session.projectURL} className="mt-6">
              View project
            </Button>
          )
        }
        {
          !!speakerCount && (
            <>
              <h2 class="h2 mt-16 text-left mb-6">
                {isSingularSpeaker ? "Speaker" : "Speakers"}
              </h2>
              <div class="flex flex-wrap -m-2">
                {session.speakers.map((speaker, i) => (
                  <PersonCard className="p-2 w-full" person={speaker} smaller />
                ))}
              </div>
            </>
          )
        }
        {
          !!session.coAuthors && (
            <>
              <h3 class="h4 mt-10 text-left mb-2">Co-authors</h3>
              <div class="font-light text-brand-200">{session.coAuthors}</div>
            </>
          )
        }
      </ContentBox>
    </div>
  </section>
</Layout>
