---
import Layout from '@layouts/Base.astro';
import { getAllEventPosts } from '@data/events';
import EventPost from '@components/EventPost';
import Meta from '@components/Meta/Meta.astro';
import { fetchSettings, type SettingsData } from '@data/settings';
import {
  fetchBostonAgenda,
  findAgendaDateForEventSlug,
} from '@data/agenda';

export async function getStaticPaths() {
  const agenda = await fetchBostonAgenda();
  const bcnEvents = getAllEventPosts?.filter((post) => post.location === 'boston') ?? [];

  return bcnEvents.map((post) => {
    const slug = post.slug.current;
    return {
      params: { slug },
      props: {
        post,
        sessionDate: findAgendaDateForEventSlug(agenda, slug),
      },
    };
  });
}

const { post, sessionDate } = Astro.props;
const settings: SettingsData = await fetchSettings();
---

<Layout namespace="2026/boston">
  <Meta
    title={`${post.title} – ${post.associatedSpeakers?.map((s) => s.name).join(', ')}`}
    imgUrl={post.mainImage?.asset.url}
    settings={settings}
  />
  <section class="">
    <EventPost post={post} sessionDate={sessionDate} client:only="react" />
  </section>
</Layout>
