---
const { namespace } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
import styles from "./styles.module.css";
import NavMobile from "./NavMobile";
import Menu from "./Menu";
import Logo from "./Logo";
---

<>
  <header class={styles.header}>
    <div class="container flex items-center justify-between">
      <Logo namespace={namespace} />
      <Menu pathname={pathname} namespace={namespace} />
      <Menu pathname={pathname} namespace={namespace} second />
    </div>
  </header>
  <NavMobile pathname={pathname} namespace={namespace} client:load />
</>
