---
const { namespace } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
import styles from "./styles.module.css";
import NavMobile from "./NavMobile";
import Menu from "./Menu";
import Logo from "./Logo";
let showNav = true;
if (typeof Astro.props.showNav !== "undefined") showNav = Astro.props.showNav;
---

<header id="header" class={styles.header}>
  <div class="container flex items-center justify-between">
    <Logo namespace={namespace} />
    {
      showNav && (
        <>
          <Menu pathname={pathname} namespace={namespace} />
          <Menu pathname={pathname} namespace="2024/boston" second />
        </>
      )
    }
  </div>
</header>
<NavMobile
  pathname={pathname}
  namespace={namespace}
  showNav={showNav}
  client:load
/>
