---
const { namespace, showHeader } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
import styles from "./styles.module.css";
import NavMobile from "./NavMobile";
import Menu from "./Menu";
import SecondaryMenu from "./SecondaryMenu";
import Logo from "./Logo";
import ArrowRight from "@icons/ArrowRight";
let showNav = true;
if (typeof Astro.props.showNav !== "undefined") showNav = Astro.props.showNav;
---

<header id="header" class={`${styles.header}`}>
  <div class={`${styles.headerWrapper} border-b-white flex flex-col w-full`}>
    <div class={`${styles.headerTop} flex justify-center items-center`}>
      <div class="container flex items-center justify-between monospace h-full">
      <Logo namespace={namespace} />
      <Menu pathname={pathname} namespace={namespace}/>
      <button class={`${styles.registerCTA} bg-white text-brand h-full px-4`}>
        <a
          href="/register"
          class="flex flex-row uppercase items-center justify-center"
        >
          Register Now
          <div
          class={`${styles.registerBtn} arrowRight ml-4 bg-nextflow inline flex justify-center items-center p-2 rounded-sm`}
            class=""
          >
            <ArrowRight/>
          </div>
        </a>
      </button>
    </div>
    </div>
    <div class={styles.navigation}>
      <div class="container flex items-center justify-center monospace text-xxs">
        {
          namespace && (
            <SecondaryMenu pathname={pathname} namespace={namespace} />
          )
        }
      </div>
    </div>
  </div>
</header>

<NavMobile
  pathname={pathname}
  namespace={namespace}
  showNav={showNav}
  client:only="react"
/>
